In [9]:
# Introduction To Databases

In [10]:
#Database:
# SQL [SQLlite, MySQL]
# NOSQL [MongoDB,Casandra] # NOSQL = Not Only SQL

#types of data
#Structured data, unstructured data, semi structured data.

In [11]:
# Steps
#.1 We will install the mysql connector 
#.2 We will import the connector
#.3 We will establish the connection with database(Mysql)
#.4 We will create table under database which will save the data. Database doesn't hold actual data but tables do. We can write query on table.


!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\user\anaconda3\lib\site-packages (8.3.0)

In [5]:
import mysql.connector as connection

In [31]:
# after the connection only we will be able to make transaction, transaction means updation, creation, deletion of the table/data.
try:
    mydb = connection.connect(host="localhost", user="root", passwd="mysql", use_pure=True)
    # check if the connection is established
    
    query = "SHOW DATABASES"
    
    cursor = mydb.cursor()  # create a cursor to execute the query. 
    # it means, we are directing cursor at the top. after the execution it will get to the bottom.
    cursor.execute(query)   # what we would like to execute. we have executed the query.
    print(cursor.fetchall()) # We are fetching all the data.

except Exception as e:
    print(str(e))

[('happy',), ('information_schema',), ('mysql',), ('performance_schema',), ('rishi',), ('sakila',), ('student',), ('sys',), ('world',)]

In [32]:
connection.connect(host = "localhost", user = "root",passwd = "mysql",use_pure = True)

In [33]:
"""try:
    mydb = connection.connect(host= '127.0.0.1', user="root", passwd="mysql", use_pure=True)
    # check if the connection is established
    
    query = "SHOW DATABASES"
    
    cursor = mydb.cursor()  # create a cursor to execute queries
    cursor.execute(query)
    print(cursor.fetchall())

except Exception as e:
    print(str(e))"""

'try:\n    mydb = connection.connect(host= \'127.0.0.1\', user="root", passwd="mysql", use_pure=True)\n    # check if the connection is established\n    \n    query = "SHOW DATABASES"\n    \n    cursor = mydb.cursor()  # create a cursor to execute queries\n    cursor.execute(query)\n    print(cursor.fetchall())\n\nexcept Exception as e:\n    print(str(e))'

In [34]:
# Database doesn't hold data. Tables inside it do.

In [35]:
conn = connection.connect(host ='localhost',user='root',passwd = 'mysql',use_pure = True)

In [36]:
cur = conn.cursor() # it means, we are directing cursor at the top. after the execution it will get to the bottom.

In [37]:
cur.execute('show databases') # what we would like to execute. we have executed the query.

In [38]:
res = cur.fetchall()

In [39]:
res

[('happy',),
 ('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('rishi',),
 ('sakila',),
 ('student',),
 ('sys',),
 ('world',)]

In [40]:
for i in res:
    print(i[0])

happy
information_schema
mysql
performance_schema
rishi
sakila
student
sys
world

In [41]:
# To create a new database
import ipdb # to check the flow of code.

In [42]:
def debug():
    ipdb.set_trace() 

    try:
        mydb = connection.connect(host = 'localhost',user='root',passwd='mysql',use_pure = True)
        # check if the connection is established.
        print(mydb.is_connected())
    
        query = "Create Database Student;" # this is a commond to create database create database and databasename
        cursor = mydb.cursor() #create a cursor to execute query
        cursor.execute(query)
        print("Database Created")
        mydb.close()
    except Exception as e:
        mydb.close()
        print(str(e))

In [43]:
# to see databases.
try:
    mydb = connection.connect(host = 'localhost',passwd = 'mysql',user = 'root',use_pure = True)
    cursor = mydb.cursor()

    query = 'show databases'
    cursor.execute('show databases')
    print(cursor.fetchall())
except Exception as e:
    print(e)

[('happy',), ('information_schema',), ('mysql',), ('performance_schema',), ('rishi',), ('sakila',), ('student',), ('sys',), ('world',)]

In [44]:
# inside the new created database, we will create a table

In [6]:
try:
    mydb = connection.connect(host ='localhost',database = "Student", user ='root',passwd = 'mysql',use_pure = True)
    print(mydb.is_connected())

    query = "CREATE TABLE StudentDetails(StudentId INT(10), Auto_Increment PRIMARY KEY,FirstName Varchar(50), "\
            "LastName Varchar(60), RegistrationDate DATE,Class Varchar(20),Section Varchar(10))"

    cursor = mydb.cursor() # Create a cursor to execute query
    cursor.execute(query)
    print('Table Created')
    mydb.close() # connection close
except Exception as e:
    mydb.close()
    print(e)

True
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'PRIMARY KEY,FirstName Varchar(50), LastName Varchar(60), RegistrationDate DATE,C' at line 1

In [7]:
mydb = connection.connect(host = 'localhost',database = 'Student',passwd = 'mysql',user = 'root',use_pure = True)
mydb.is_connected()
query = "Create table Studentdetails(x1 INT(5),x2 VARCHAR(20), x3 DATE"

# here we are creating a table name studentdetails with three columns x1,x2,x3 and we are saving integer data with lenght =5, Varchar = string in sql)
cursor = mydb.cursor()
cursor.execute(query)
print('Table Created')
mydb.close()

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '' at line 1

In [ ]:
mydb = connection.connect(host = 'localhost',database = 'Student',passwd = 'mysql',user = 'root',use_pure = True)
mydb.is_connected()
query = "create table studentdetails (x1 int(5), x2 varchar(20),x3 Date)"
cursor = mydb.cursor()
cursor.execute(query)

In [ ]:
#Creating a database

mydb = connection.connect(host = 'localhost',user = 'root',passwd = 'mysql',use_pure = True)

query = "Create Database happy"
cursor = mydb.cursor()
cursor.execute(query)
mydatabase.close()

In [ ]:
# inside the newly created database, we will create a table

In [ ]:
try:
    mydb = connection.connect(host = 'localhost',user = 'root',database = 'happy', passwd = 'mysql',use_pure = True)
    mydb.is_connected()
    
    query = 'Create table happydetails(name Varchar(10),class Varchar(5),Rollnumber INT(10))'
    cursor = mydb.cursor()
    cursor.execute(query)
    print('Table Created')
except Exception as e:
    print(e)

In [ ]:
# 4th step 
# Insert data inside table

In [2]:
try:
    mydb = connection.connect(host = 'localhost',user = 'root',database = 'happy', passwd = 'mysql',use_pure = True)
    mydb.is_connected()
    
    query = "INSERT INTO happydetails VALUES('rishiraj','10B',5658)"
    cursor = mydatabase.cursor()
    cursor.execute(query)
    print('Values inserted into the tables')
    mydatabase.commit() # It means when we would really like to input the data. without commit the data won't be inserted
except Exception as e:
    print(e)

name 'connection' is not defined

In [3]:
mydb = connection.connect(host = 'localhost',database ='happy',user = 'root',passwd = 'mysql',use_pure = True)
cur = mydb.cursor()
cur.execute("insert into happydetails values ('rishiraj','five',54145155)")
mydb.commit()
# data insertion will go in the same sequence we mentioned while creating a table.
# in this example, it's name, class, rollnumber
# Date format = YYYY-MM-DD

NameError: name 'connection' is not defined

In [4]:
cur.execute("insert into happydetails values ('rishiraj','five',54145155)")
cur.execute("insert into happydetails values ('rishiraj','five',54145155)")
cur.execute("insert into happydetails values ('rishiraj','five',54145155)")
cur.execute("insert into happydetails values ('rishiraj','five',54145155)")
cur.execute("insert into happydetails values ('rishiraj','five',54145155)")
cur.execute("insert into happydetails values ('rishiraj','five',54145155)")
cur.execute("insert into happydetails values ('rishiraj','five',54145155)")
cur.execute("insert into happydetails values ('rishiraj','five',54145155)")
cur.execute("insert into happydetails values ('rishiraj','five',54145155)")
cur.execute("insert into happydetails values ('rishiraj','five',54145155)")
cur.execute("insert into happydetails values ('rishiraj','five',54145155)")

mydb.commit()

# We can enter multiples rows but we will have to put commit after each insertion.

NameError: name 'cur' is not defined

In [ ]:
# Fetching the data from the database in the notebook

In [ ]:
try: 
    mydb = connection.connect(host = 'localhost',user = 'root',database = 'Happy',passwd = 'mysql',use_pure = True)
    mydb.is_connected()

    query = 'select * from happy'
    
    cursor = mydb.cursor()
    cursor.execute(query)
    for result in cursor.fetchall():
        print(result)
    mydata.close()
except Exception as e:
    print(e)

In [16]:
mydb = connection.connect(host = 'localhost',user = 'root',database = 'happy',passwd = 'mysql',use_pure = True)
query = 'select * from happydetails'
cursor = mydb.cursor()
cursor.execute(query)
cursor.fetchall()

[('rishiraj', '10B', 5658), ('rishiraj', '10B', 5658)]

In [ ]:
# we would like to get only specefic data not all

In [47]:
cur = mydb.cursor()
cur.execute("Select name class from happydetails")

ProgrammingError: 1146 (42S02): Table 'student.happydetails' doesn't exist

In [48]:
for i in cur.fetchall():
    print(i)

In [49]:
# sometimes it does not return output because of the cursor concept, if the cursor is at the last location, we won't be able to see data.
select * from Happy.happydetails;
To fetch data

# we will have to recreate the cursor object, it will reset it by default.

SyntaxError: invalid syntax (4238141572.py, line 2)

In [50]:
# to feth data in a table/proper structure format
# pandas is the library used to manipulate file.
import pandas as pd

In [51]:
try:
    mydb = connection.connect(host = 'localhost',user = 'root',passwd = 'mysql',use_pure = True, database = 'happy')

    query = 'SELECT name,name,class FROM happydetails'
    result = pd.read_sql(query,mydb) # it takes sql query and connection. # we don't have to write cursor, execute, fetch all. WE DONT EVEN TO WORRY ABOUT CURSOR ISSUE AND CURSOR LOCATION.
    print(result)
    mydb.close() # close the connection
except Exception as e:
    print(e)

       name      name class
0  rishiraj  rishiraj   10B
1  rishiraj  rishiraj   10B

C:\Users\USER\AppData\Local\Temp\ipykernel_6472\3142577131.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result = pd.read_sql(query,mydb) # it takes sql query and connection. # we don't have to write cursor, execute, fetch all. WE DONT EVEN TO WORRY ABOUT CURSOR ISSUE AND CURSOR LOCATION.

In [52]:
query = 'SELECT name,name,class FROM happydetails'
query = 'SELECT * FROM happydetails'

In [53]:
#result.to_sql # in a single shot we can give data to sql.

In [54]:
result

       name      name class
0  rishiraj  rishiraj   10B
1  rishiraj  rishiraj   10B

In [55]:
#to save file into csv file
result.to_csv('mydata.csv')

In [56]:
# table has been created

mydb = connection.connect(host = 'localhost',user = 'root',database = 'Happy',passwd = 'mysql',use_pure = True)
query = "create table mydata(n1 int(10),n2 varchar(20), n3 varchar(30))"

cur = mydb.cursor()
cur.execute(query)

ProgrammingError: 1050 (42S01): Table 'mydata' already exists

In [58]:
mydb

In [66]:
try:
    mydb = connection.connect(host = 'localhost',user='root',passwd = 'mysql',use_pure = True)
    print(mydb.is_connected)
    query = "create database roy"
    cur = mydb.cursor()
    cur.execute(query)
    mydb.close()
    print('database created')
except Exception as e:
    print(e)

<bound method MySQLConnection.is_connected of <mysql.connector.connection.MySQLConnection object at 0x0000019AF46BA910>>
1007 (HY000): Can't create database 'roy'; database exists

In [70]:
try:
    mydb = connection.connect(host = 'localhost',user='root',passwd = 'mysql',use_pure = True, database = 'roy')
    print(mydb.is_connected)
    query = "create table roydetails(r1 int(10), r2 varchar(20), r3 varchar(20))"
    cur = mydb.cursor()
    cur.execute(query)
    mydb.close()
    print('table created')
except Exception as e:
    print(e)

<bound method MySQLConnection.is_connected of <mysql.connector.connection.MySQLConnection object at 0x0000019AF46BA910>>
table created

In [77]:
try:
    mydb = connection.connect(host = 'localhost',user='root',passwd = 'mysql',use_pure = True, database = 'roy')
    print(mydb.is_connected)
    query = "insert into roydetails values (12451,'happysingh','rishi')"
    cur = mydb.cursor()
    cur.execute(query)
    mydb.commit()
    mydb.close()    
except Exception as e:
    print(e)

<bound method MySQLConnection.is_connected of <mysql.connector.connection.MySQLConnection object at 0x0000019AF5FC2B90>>

In [92]:
try:
    mydb = connection.connect(host = 'localhost',user='root',passwd = 'mysql',use_pure = True, database = 'roy')
    print(mydb.is_connected)
    query = "select * from roydetails"
    result1 = pd.read_sql(query,mydb)
    print(result1)
    mydb.close()    
except Exception as e:
    print(e)

<bound method MySQLConnection.is_connected of <mysql.connector.connection.MySQLConnection object at 0x0000019AF76AF890>>
      r1          r2     r3
0  12451  happysingh  rishi

C:\Users\USER\AppData\Local\Temp\ipykernel_6472\3670816623.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result1 = pd.read_sql(query,mydb)

In [93]:
result1

      r1          r2     r3
0  12451  happysingh  rishi

In [94]:
result1.to_csv("result1.csv") # we would like to write/dump this data in table.

In [97]:
mydb = connection.connect(host = 'localhost',user='root',passwd = 'mysql',use_pure = True, database = 'roy')

In [99]:
mydb = connection.connect(host = 'localhost',user='root',passwd = 'mysql',use_pure = True, database = 'roy')
mydb.is_connected()
query = "create table dumpdata(d1 int(20),d2 int(21), d3 varchar(52))"
cur = mydb.cursor()
cur.execute(query)
print('table created')
mydb.close()

table created

In [100]:
# we have to now read the data available in our system with a name result1.csv

In [109]:
readdata = pd.read_csv("result1.csv")

In [110]:
readdata

Empty DataFrame
Columns: [0, 12451, happysingh, rishi]
Index: []

In [111]:
mydb = connection.connect(host = 'localhost',user='root',passwd = 'mysql',use_pure = True, database = 'roy')

In [114]:
writedata = readdata.to_sql(name = 'dumpdata',con = mydb) # putting data into sql
#dumpdata = table where we want to save data.
# mydb = connection

# We will learn this in sqlalkymy

C:\Users\USER\AppData\Local\Temp\ipykernel_6472\461836174.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  writedata = readdata.to_sql(name = 'dumpdata',con = mydb) # putting data into sql

DatabaseError: Execution failed on sql '
        SELECT
            name
        FROM
            sqlite_master
        WHERE
            type IN ('table', 'view')
            AND name=?;
        ': Not all parameters were used in the SQL statement

In [3]:
import mysql.connector as connection
import pandas as pd
import csv

In [4]:
mydb = connection.connect(host = 'localhost',user='root',passwd = 'mysql',use_pure = True, database = 'roy')
query = "create table roynewtable(rr int(10), rr1 varchar(20), rr2 varchar(20))"
cur = mydb.cursor()
cur.execute(query)
print('table created')

ProgrammingError: 1050 (42S01): Table 'roynewtable' already exists

In [ ]:
mydb = connection.connect(host = 'localhost',user='root',passwd = 'mysql',use_pure = True, database = 'roy')
query = "insert into roynewtable values (454578,'rishiraj','happy')"
cur = mydb.cursor()
cur.execute(query)
mydb.commit()
print('data inserted')

In [ ]:
mydb = connection.connect(host = 'localhost',user='root',passwd = 'mysql',use_pure = True, database = 'roy')
query = "select * from roynewtable"
newdata = pd.read_sql(query,mydb)
print(newdata)

In [ ]:
newdata

In [ ]:
newdata.to_csv('newdata.csv')

In [ ]:
with open ('newdata.csv','r') as data:
    data.read()

In [10]:
with open('newdata.csv','r') as data:
    data_csv = csv.reader(data,delimiter = "\n")
    print(data_csv)
    for i in (data_csv): # enumerate gives index and the data.
        print(i)

<_csv.reader object at 0x00000227D6043820>
[',rr,rr1,rr2']
['0,454578,rishiraj,happy']
['1,454578,rishiraj,happy']

In [151]:
# we will have to convert data in such a way that we will be able to store data one by one in for loop.
# we will use enumerate for this purpose, it returns index and the data.

In [12]:
with open('newdata.csv','r') as data:
    data_csv = csv.reader(data,delimiter = "\n")
    print(data_csv)
    for i in enumerate(data_csv): # enumerate gives index and the data.
        print(i)

<_csv.reader object at 0x00000227D6043340>
(0, [',rr,rr1,rr2'])
(1, ['0,454578,rishiraj,happy'])
(2, ['1,454578,rishiraj,happy'])

In [ ]:
# Repeat

In [1]:
import pandas as pd

In [2]:
# pandas is being used for the file manipulation.

In [4]:
# create database
try:
    mydb = connection.connect(host = 'localhost',user ='root',passwd = 'mysql',use_pure = True)
    mydb.is_connected()

    query = "create database schooldata"
    cur = mydb.cursor()
    cur.execute(query)
    print('database created')
    mydb.close()
except Exception as e:
    print(e)

database created

In [5]:
#create table
try:
    mydb = connection.connect(host = 'localhost',user='root',passwd='mysql',database='schooldata',use_pure = True)
    mydb.is_connected()

    query = "create table schooldatatable (st int(10), st1 varchar(20), st2 varchar(20))"
    cur = mydb.cursor()
    cur.execute(query)
    print('table created')
    mydb.close()

except Exception as e:
    print(e)

table created

In [7]:
#insert data
try:
    mydb = connection.connect(host = 'localhost',user='root',passwd='mysql',database='schooldata',use_pure = True)
    mydb.is_connected()

    cur = mydb.cursor()
    cur.execute("insert into schooldatatable values (52545,'happy','rajusingh')")
    mydb.commit()
    print('data inserted')
    mydb.close()
except Exception as e:
    print(e)

data inserted

In [22]:
mydb = connection.connect(host = 'localhost',user='root',passwd='mysql',database='schooldata',use_pure = True)
mydb.is_connected()
cur = mydb.cursor()
cur.execute("insert into schooldatatable values (52545,'happy','rajusingh')")
cur.execute("insert into schooldatatable values (52545,'happy','rajusingh')")
cur.execute("insert into schooldatatable values (52545,'happy','rajusingh')")
mydb.commit()

In [23]:
#fetch data
try:
    mydb = connection.connect(host = 'localhost',user='root',passwd='mysql',database='schooldata',use_pure = True)
    mydb.is_connected()

    cur = mydb.cursor()
    cur.execute("select * from schooldatatable")
    cur.fetchall()
    for result in cur.fetchall():
        print(result)
    mydb.close()
except Exception as e:
    print(e)

In [24]:
cur.fetchall()

[]

In [25]:
import pandas as pd

In [27]:
mydb = connection.connect(host = 'localhost',user='root',passwd='mysql',database='schooldata',use_pure = True)
# to read sql data in a tabular format, we use pandas read_sql feature. here we don't have to use cursor.execute,cursor, or fetch all option.
pd.read_sql("select * from schooldata.schooldatatable",mydb)

C:\Users\USER\AppData\Local\Temp\ipykernel_19328\2284261265.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql("select * from schooldata.schooldatatable",mydb)

      st    st1        st2
0  52545  happy  rajussing
1  52545  happy  rajusingh
2  52545  happy  rajusingh
3  52545  happy  rajusingh
4  52545  happy  rajusingh
5  52545  happy  rajusingh
6  52545  happy  rajusingh
7  52545  happy  rajusingh

In [35]:
a = pd.read_sql("select * from schooldata.schooldatatable",mydb)

C:\Users\USER\AppData\Local\Temp\ipykernel_19328\1810824113.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  a = pd.read_sql("select * from schooldata.schooldatatable",mydb)

In [36]:
# it will save data in csv format
a.to_csv('a.csv')

In [31]:
# insert from file
# we would like to read and write data in table.

In [51]:
mydb = connection.connect(host = 'localhost',user='root',passwd='mysql',database='roy',use_pure = True)
mydb.is_connected()
cur = mydb.cursor()
cur.execute("create table a1 (a int(10), a1 varchar(20), a2 varchar(20))")
print('table created')
mydb.close()

table created

In [42]:
data = pd.read_csv('a.csv')

In [43]:
data

   Unnamed: 0     st    st1        st2
0           0  52545  happy  rajussing
1           1  52545  happy  rajusingh
2           2  52545  happy  rajusingh
3           3  52545  happy  rajusingh
4           4  52545  happy  rajusingh
5           5  52545  happy  rajusingh
6           6  52545  happy  rajusingh
7           7  52545  happy  rajusingh

In [53]:
mydb = connection.connect(host = 'localhost',user='root',passwd='mysql',database='roy',use_pure = True)
mydb

In [54]:
# to dump data in sql
data.to_sql('a1',mydb) # tablename in which we want to save the data and the connection name

C:\Users\USER\AppData\Local\Temp\ipykernel_19328\4175370429.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data.to_sql('a1',mydb) # tablename in which we want to save the data and the connection name

DatabaseError: Execution failed on sql '
        SELECT
            name
        FROM
            sqlite_master
        WHERE
            type IN ('table', 'view')
            AND name=?;
        ': Not all parameters were used in the SQL statement

In [55]:
# read bulk data in the database.

In [57]:
import mysql.connector as connection
import pandas as pd
import csv
# step 1
mydb = connection.connect(host = 'localhost',user='root',passwd='mysql',use_pure = True)

In [67]:
# step 2 (Save data in existing database but new table)
mydb = connection.connect(host = 'localhost',user='root',passwd='mysql',database = 'roy',use_pure = True)
mydb.is_connected()

True

In [72]:

cur = mydb.cursor()
cur.execute("create table roy.newtable (FirstName varchar(30),LastName varchar(30),Phone int(10),Email varchar(50) ,Marks int(10) )")

In [73]:
# step 3
# we need to read a data and dump into sql table

In [111]:
with open('Salesforce Practise.csv','r') as data:
    next(data)
    data_csv = csv.reader(data,delimiter = "\n")
    print(data_csv) # object has been created, now we can iterate using forloop
    for i in enumerate(data_csv):
        print(i)
        for j in i[1]:
            cur.execute("insert into roy.newtable values({data_csv})".format(j))
    print('data inserted')
mydb.commit()

<_csv.reader object at 0x000002D04684C820>
(0, ['Rishiraj,Singh,652452,test@test.com,5'])

KeyError: 'data_csv'

In [113]:
with open('Salesforce Practise.csv','r') as data:
    next(data)
    data_csv = csv.reader(data,delimiter = "\n")
    print(data_csv) # object has been created, now we can iterate using forloop
    for j in data_csv:        
        #cur.execute("insert into roy.newtable values(data)".format(data))
        print(j)
mydb.commit()

<_csv.reader object at 0x000002D046D26DA0>
['Rishiraj,Singh,652452,test@test.com,5']
['Raj,Rajawat,554521,test1@test.com,10']
['Pawan,Singh,22455,test2@test.com,8']
['Mehul,Choksi,,test3@test.com,7']
['Vijay,Maliya,52583,test4@test.com,9']
['Vijay,Maliya,52608,test4@test.com,67']
['Vijay,Maliya,52633,test4@test.com,125']
['Vijay,Maliya,52658,test4@test.com,183']
['Vijay,Maliya,52683,test4@test.com,241']
['Vijay,Maliya,52708,test4@test.com,299']
['Vijay,Maliya,52733,test4@test.com,357']
['Vijay,Maliya,52758,test4@test.com,415']
['Vijay,Maliya,52783,test4@test.com,473']
['Vijay,Maliya,52808,test4@test.com,531']
['Vijay,Maliya,52833,test4@test.com,589']
['Vijay,Maliya,52858,test4@test.com,647']
['Vijay,Maliya,52883,test4@test.com,705']
['Vijay,Maliya,52908,test4@test.com,763']
['Vijay,Maliya,52933,test4@test.com,821']
['Vijay,Maliya,52958,test4@test.com,879']
['Vijay,Maliya,52983,test4@test.com,937']
['Vijay,Maliya,53008,test4@test.com,995']
['Vijay,Maliya,53033,test4@test.com,1053']
['Vijay,Maliya,53058,test4@test.com,1111']
['Vijay,Maliya,53083,test4@test.com,1169']
['Vijay,Maliya,53108,test4@test.com,1227']
['Vijay,Maliya,53133,test4@test.com,1285']
['Vijay,Maliya,53158,test4@test.com,1343']
['Vijay,Maliya,53183,test4@test.com,1401']
['Vijay,Maliya,53208,test4@test.com,1459']
['Vijay,Maliya,53233,test4@test.com,1517']
['Vijay,Maliya,53258,test4@test.com,1575']
['Vijay,Maliya,53283,test4@test.com,1633']
['Vijay,Maliya,53308,test4@test.com,1691']
['Vijay,Maliya,53333,test4@test.com,1749']
['Vijay,Maliya,53358,test4@test.com,1807']
['Vijay,Maliya,53383,test4@test.com,1865']

In [114]:
with open('Salesforce Practise.csv','r') as data:
    next(data)
    data_csv = csv.reader(data,delimiter = "\n")
    print(data_csv) # object has been created, now we can iterate using forloop
    for j in data_csv:        
        cur.execute("insert into roy.newtable values(data)".format(data=str(j[0])))
        print(j)
mydb.commit()

<_csv.reader object at 0x000002D04677B2E0>

DataError: 1136 (21S01): Column count doesn't match value count at row 1

In [ ]:
# TASK 

INSERT BIG DATA IN THE TABLE IN SQL 
DATA SOURCE: UCI

In [19]:
mydb = connection.connect(host = 'localhost',user='root',passwd = 'mysql',use_pure = True)
mydb.is_connected()
query = "delete from happy.happydetails where name = 'rishiraj'"
cur = mydb.cursor()
cur.execute(query)
mydb.commit() # in case of delete also we shall use commit function.

# to check if the above action has been performed.
query = "select * from happy.happydetails where name = 'rishiraj'"
cur = mydb.cursor()
cur.execute(query)
for result in cur.fetchall():
    print(result)
mydb.close()

In [18]:
mydb = connection.connect(host = 'localhost',user='root',passwd = 'mysql',database = 'happy',use_pure = True)
mydb.is_connected()
query = "delete from happydetails WHERE name = 'rishiraj'" # put it under semi coluns if it's a string.
cur = mydb.cursor()
cur.execute(query)
mydb.commit()

In [20]:
mydb

In [25]:
mydb = connection.connect(host = 'localhost',user='root',passwd = 'mysql',database = 'happy',use_pure = True)

query = "update happydetails set name ='happy', Rollnumber = 100 where class = ' '"
cursor = mydb.cursor()
cursor.execute(query)
mydb.commit()

In [ ]:
# Create, insert, update, delete, fetch