In [6]:
# We will learn list manipulation.

l = ['rishi',123,12.34,[1,2,3,4,'r',52.22],True]
for i in l:
    print(i)
l[0]

l[::-1]

rishi
123
12.34
[1, 2, 3, 4, 'r', 52.22]
True

In [14]:
l = ['rishi',123,12.34,[1,2,3,4,'r',52.22],True]

for i in l:
    if type(i) == list:
        print(f"this is a list {i}")
    else:
        print(f"this isn't a list {i}")

this isn't a list rishi
this isn't a list 123
this isn't a list 12.34
this is a list [1, 2, 3, 4, 'r', 52.22]
this isn't a list True

In [15]:
l1 = [123,345,'rishi','happy']

l+l1

['rishi',
 123,
 12.34,
 [1, 2, 3, 4, 'r', 52.22],
 True,
 123,
 345,
 'rishi',
 'happy']

In [17]:
l1.append('rishiraj')
print(l1)

[123, 345, 'rishi', 'happy', 'rishiraj', 'rishiraj']

In [18]:
len(l1)

6

In [20]:
345 in l1

'happy' in l

False

In [34]:
c = [1,2,34,5,6,7]

sum(c)
max(c)
min(c)

d = ['azz','ri','z','zz'] # it gives result basis on the ASII table, every alphabet has a number. 
max(d)
min(d)

'azz'

In [42]:
r = [1,2,3,4,5]
r.append('happy')
r.append([1,2,3,4,5,6])
r[0] = 'rishi'
r.insert(2,'rishiraj singh')
r

['rishi', 2, 'rishiraj singh', 3, 4, 5, 'happy', [1, 2, 3, 4, 5, 6]]

In [54]:
r = [1,2,3,4,5]
r.insert(3,52.22)
r.insert(-1,505)
r.append('jaipur')
r.append('jaipur')
r.append('jaipur')
r[-1]

'jaipur'

In [55]:
r
r.count('jaipur')

3

In [62]:
t = [1,2,3,4,5,6]
t.append('rishi')
t.append([1,2,3])
t.extend('happy') # it will put data in a iterable form, extend unwraps it and then insert at the tail. extend always look for iteral object that is string not an integer.
t.extend([1,2,3])
t

[1, 2, 3, 4, 5, 6, 'rishi', [1, 2, 3], 'h', 'a', 'p', 'p', 'y', 1, 2, 3]

In [104]:
h = [1,2,2,3,3,3,4,4,4,4,]



indices_of_2 =[]

for i in range(len(h)):
    if h[i] ==2:
        indices_of_2.append(i)

print(indices_of_2)

[1, 2]

In [112]:
# Delete Dat

p =[2,3,4,5,7,8,9]
p.pop(2)
p.remove(2)
p.reverse()
p.sort()
p

[3, 5, 7, 8, 9]

In [115]:
r = [1,2,3,4,5,.25]
r.sort()
r

[0.25, 1, 2, 3, 4, 5]

In [195]:
# Practise Question

l = [[1,2],[3,4],[5,6,'string']]

# Q1: append 2 more lists and one complex number in between. # Done
# Q2: nested list contain string then find out it's index in nested list and print it than remove the string.
# Q3: you have to extract second element of each nested list. Done

l
l.insert(1,[3,3])
l.insert(0,[2,2])
l.insert(2,25.65j)

for i in range(len(l)):
    if type(i) == list:
        print(i)

[[2, 2], [1, 2], 25.65j, [3, 3], [3, 4], [5, 6, 'string']]

In [196]:
# Q2: nested list contain string then find out it's index in nested list and print it than remove the string.
l = [[1,2],[3,4],[5,'s']]

l.index([1,2])

for i in l:
    if type(i)  == list:
        for j in i:
            if type(j) == str:
                print(i.index(j))

1

In [181]:
# Q3: you have to extract second element of each nested list.
l = [[1,2],[3,4],[5,6,'s']]

l[0][1]

2

In [198]:
r = [[1,2],[3,4],[5,'s']]

for i in r:
    if type(i) == list:
        for j in i:
            if type(j) == str:
                print(i.index(j))

1

In [1]:
# Q2: nested list contain string then find out it's index in nested list and print it than remove the string.
l = [[1,2],[3,4],[5,'s','s','s']]

for i in l:
    print(i)

[1, 2]
[3, 4]
[5, 's', 's', 's']

In [3]:
l = [[1,2],[3,4],[5,'s','s','s']]


for i in l:
    if type(i) is list:
        j =0
        while j<len(i):
            if type(i[j]) is str:
                print("index of string is{}".format(i[j]),j)
            j +=1
        j = 0
        while j<len(i):
            if type(i[j]) is str:
                print("string in nested list {}".format(i[j]))
                      i.remove(i[j])
                      continue
            j +=1

IndentationError: unexpected indent (4193211716.py, line 15)

In [1]:
k = [1,2,3,4,5,6,7,8]
k1 = []

for i in 'rishi':
    k1.append(i)

k1

['r', 'i', 's', 'h', 'i']

SyntaxError: invalid syntax (1334920010.py, line 1)

In [14]:
k1 = []

k1 = [ [i*2] for i in 'rishi'] # list compreshension
k1

[['rr'], ['ii'], ['ss'], ['hh'], ['ii']]

In [18]:
l = []
for i in range(10):
    if i%2 == 0:
        l.append(i)
l

[0, 2, 4, 6, 8]

In [20]:
l = [i for i in range(10) if i%2 ==0]
l

[0, 2, 4, 6, 8]

In [37]:
l_odd = []
l_even = []

for i in range(10):
    if i%2 != 0:
        l_odd.append(i)
    else:
        l_even.append(i)

l_odd
l_even

['odd' if i%2 !=0 else 'even' for i in range(10)]

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [45]:
mat = []

for i in range(3):
    mat.append([])
    for j in range(3):
        mat[i].append(j)
        

mat

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [50]:
[[j for j in range(3)] for i in range(3)]

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [59]:
[ i for i in range(8) if i%2 ==0 if i%3 ==0 ] # We can also put two conditions two if statements. elif won't work.

[0, 6]

In [62]:
l = []

for i in range(8):
    if i%2 == 0 and i%3 ==0:
        l.append(i)

l

[0, 6]

In [67]:
l = []
for i in range(10):
    l.append(i)

['yes' if i==1 else '2' if i ==2 else 'test' for i in range(10)] # in this place if can be considered as elif.

['test', 'yes', '2', 'test', 'test', 'test', 'test', 'test', 'test', 'test']

In [74]:
%%time # to check time taken in the code.
l = []
for i in range(10):
    if i==1:
        l.append('yes')
    elif i==2:
        l.append('2')
    else:
        l.append('test')

l

CPU times: total: 0 ns
Wall time: 1.08 ms

['test', 'yes', '2', 'test', 'test', 'test', 'test', 'test', 'test', 'test']