In [1]:
print('Rishiraj')

Rishiraj

In [3]:
# print "this is my first program" # This works in python 2.x version not in 3.x version.
# We should mention comments to make the code understandable to other persons.

In [4]:
'my name is Rishiraj'

'my name is Rishiraj'

In [ ]:
# My name is Rishiraj (Single line comment)
"""hfdh
jdfkd
sdkjfh""" 
# for single line comment and """ """ for multi lines comment

In [8]:
# Shift Enter for execution.
# Shift tab to get the details of the function.

In [9]:
# When we process the data, like opening up a video # It will load from hardware to mainmemory(RAM) and CPU.
# Objective to write code. (To process the data/records.)
# Variable is a local instance to store the data in our mainmemory(RAM). example a =10 (a is a variable and we are keeping 10 as data). It will allocate space in the RAM and then the data will be saved there.
# Variable name is the name of the place given by us to create the space in RAM.

In [11]:
a=10 # Creating variable with name a
a # Calling a variable or we can use print(a)

10

In [12]:
type(a) # To check datatype.

int

In [13]:
b = "Rishiraj"
type(b)

str

In [18]:
a,b,c = 25, 'Rishiraj','Hello' # creating multiple variables in single line.

In [19]:
b2 = 10
b2

10

In [21]:
#2b = 11 # variable name should not start with an integer.

In [24]:
print(True + True +True +False + True)
print(False-True+True)
# Explanation to the above statements. (True = 1) (False = 0)
# True/ True Or True/False Or True * True

4
0

In [31]:
# Complex number = combination of real and imaginary number.

n = 15 + 5j #(j is the only notation to show complex number in python) # 45 = real number, 5 = imaginary number, j = notation.
type(n)
n.real
n.imag

m = 4 + 9j

m*n

(15+155j)

In [41]:
# Python is a dynamic typing language, means it will figure out with the nature of input the datatype.
#1 + 'rishiraj' #operand error
"1" + 'rishiraj'  #typecasting means converting a variable to different datatype.
'1' + 'rishiraj' # str + str = concatenation
# upcasting meaning when we do action on two integers it returns value in float.

'1rishiraj'

In [1]:
# To take input from the user.
#ba = input()

In [5]:
# Question: Take integers a,b,c && a+b/c && + complex number && + 'yourname'
# This is a sudo code.
# input gives output always in string.
# We can do for a = int(input())
a,b,c = 1,2,3
cnumber = 45 + 32j
o = a+b/c
ocn = o+cnumber
str(ocn) + 'Rishiraj'

In [5]:
# Decision making statements. # if, else, if elif
# Conditional statements.

a = 34

if a<34:
    print('valid input')
elif a<100:
    print('Data is more than 34 but lesser than 100')
else: 
    print('Invalid input')

Data is more than 34 but lesser than 100

In [16]:
# Question: If more than 1000 I can buy car, if more than 500 I can buy bike, if more than 100, I can manage my home.

salary = 1000000
if salary>1000:
    print('I can buy a car')
elif salary >500:
    print('I can buy a bike')
elif salary >100:
    print('I can manage home')
else:
    print('I will go for saving')

I can buy a car

In [20]:
# Nested decision making statement.
salary = 751
if (salary>1000):
    print('I can buy a car')
    if salary>5000:
        print('Maruti')
    elif salary >3000:
        print('Toyota')
    else:
        print('manage with your existing car')
elif (salary >500):
    print('I can buy a bike')
    if salary >750:
        print('Splendor')
    else:
        print('Manage with existing bike')
elif salary >100:
    print('I can manage home')
else:
    print('I will go for saving')

I can buy a bike
Splendor