In [12]:
# Functions

# def <function name> (Arguments)
# we will only be able to use function in the sheet in which it's created. Else we will have to create a global function.

def add(a,b):
    return a+b 

add('happ','y')
add(0.25,0.75)
add (1,2)

3

In [14]:
def mul(a,b):
    return a*b

type(mul('s',5))

# print will always return nontype.
# return will return exact data type given as arguments.

str

In [47]:
def add1(a,c=4):
    return a+c

add1(1)

5

In [20]:
def multi(a,b):
    return a*10,b*10,a+b # we can give multiple conditions here.

multi(5,6) #output will be in tuple

(50, 60, 11)

In [26]:
a,b,c=multi(5,2) # we can hold data individually as well in separate variables.
a
b
c

a,b,_ = multi(2,4)
a,_,c = multi(2,3)

# _ means we don't want to hold data in any variable but in placeholder like underscore.

In [32]:
def listmul(a):
    return a * 2

listmul([1,2,3])

[1, 2, 3, 1, 2, 3]

In [49]:
def defaultfunc(a,b=10):
    
    return a+b

defaultfunc(10)

20

In [54]:
def boolx(x=True, y = False):
    return x+y

boolx()

10

In [61]:
def travel(bike = True, car = False):
    plan_travel = bike or car
    return bike, car, plan_travel

travel(car = True)

(True, True, True)

In [70]:
def agrs(*args):
    return args

agrs(1,2,3,4,'rishi')

(1, 2, 3, 4, 'rishi')

In [104]:
# Question: Create a function where we can pass a n number of lists.

def func(*args):
    return list(args)

r =func([1,2,3],[4,5,6],[7,8,9])
print(r)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [103]:
def func1(*args):
    l = []
    for i in args:
        l +=i
    return l

result = func1([1,2,3],[4,5,6],[7,8,9])
print(result)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [105]:
def func2(*args):
    for i in args:
        return [i for i in args]

rr = func([1,2,3],[4,5,6],[7,8,9])
print(rr)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [110]:
def func3(*args):
    l = []
    for i in args:
        if type(i) == list:
            l +=i
    return l

func3([1,2,3],[4,5,6],[7,8,9],'happy')

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [118]:
def func4(**kwargs): # kwargs = key value arguments.
    return kwargs

func4(a=4,b=25,name = 'happy',age = 'twelve')

# args returns tuple
# kwargs return dictionary

{'a': 4, 'b': 25, 'name': 'happy', 'age': 'twelve'}

In [152]:
# Questions:
# 1 Create a function to take any number of mixed data and try to create a list of separate data based on datatype and return multiple result.
# 2 create a function which will be able to use args and kwargs and it will be able to do all the list value concatanaion and return a list.

def funcp(*args):
    intt,l,s = [],[],[]     
    for i in args:        
        if isinstance(i,int):
            intt.append(i)
        elif isinstance(i,str):
            s.append(i)
        elif isinstance(i,list):
            l.append(i)
    return intt,s,l
    

r= funcp(1, "hello", [1, 2, 3], "world", [4, 5])
print(r)

([1], ['hello', 'world'], [[1, 2, 3], [4, 5]])

In [154]:
def funcp(*args):
    intt,l,s = [],[],[]
    for i in args:
        if type(i) == int:
            intt.append(i)
        elif type(i) == str:
            s.append(i)
        elif type(i) == list:
            l.append(i)
    return intt,l,s

p= funcp(1, "hello", [1, 2, 3], "world", [4, 5])
print(p)

([1], [[1, 2, 3], [4, 5]], ['hello', 'world'])

In [2]:
# 1 Create a function to take any number of mixed data and try to create a list of separate data based on datatype and return multiple result.

def func(*args):
    intt,s,l = [],[],[]
    for i in args:
        if type(i) == int:
            intt.append(i)
        elif type(i) == str:
            s.append(i)
        elif type(i) == list:
            l.append(i)
    return intt,s,l

func('happy','rishiraj','singh',[1,2,3,4,5,6,7,8,9,10],1,2,3,4,5,6)

([1, 2, 3, 4, 5, 6],
 ['happy', 'rishiraj', 'singh'],
 [[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]])

In [5]:
# 2 create a function which will be able to use args and kwargs and it will be able to do all the list value concatanaion and return a list.

# my try
def func22(*args,**kwargs):
    l = []
    kl = []
    if i == args:
        for i in args:
            l+=i
    elif i == kwargs:
        for i in kwargs:
            kl+=1

func22([1,2,3])

UnboundLocalError: cannot access local variable 'i' where it is not associated with a value

In [9]:
#.2 

def func22(*args,**kwargs):
    l = [i for i in args if type(i)== list]
    d = [i[1] for i in kwargs.items() if type(i[1]) == list]
         
    return l

func22([1,2,3],[4,5,6],[7,8,9])

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [21]:
def test(**kwargs):

    return kwargs

ll = test(a =1,b=['happy','singh',5.67],c=6+6j)
        
for value in ll.values():
    if type(value) == list:
        for i in value:
            if type(i) == str:
                print(i)

happy
singh

In [22]:
# Understand this code:

def func(*args):
    datatype = {}
    
    for i in args:
        if type(i) in datatype:
            datatype[type(i)].append(i)
        else:
            datatype[type(i)] = [i]
    return datatype

In [8]:
# Function Part 2

def test(**kwargs):
    return kwargs

test(a = 10, b = 20,c=30)

{'a': 10, 'b': 20, 'c': 30}

In [14]:
# Anonymous Operation (function without a name) OR Lambda Function 

def test1(name, mail_id):
    concatenate = mail_id + name
    return mail_id, name, con

test1('Rishiraj','rishijpr@icloud.com')

'rishijpr@icloud.comRishiraj'

In [19]:
a = 10
b = 20

def mult(a,b):
    return a*b

add(2,5)

l =lambda a,b,c:a*b-c
l(2,8,6)

10

In [26]:
a = lambda a,b: a+b

a(50,78)

b = 'rishi'
c = 'singh'

n = lambda a,b,c:print(a,b,c)

n('shekhwat',b,c)

shekhwat rishi singh

In [31]:
nn = lambda *args : print (list(args))

nn(a,b,c,1,2,3,[4,5,6])

[<function <lambda> at 0x0000028E230696C0>, 'rishi', 'singh', 1, 2, 3, [4, 5, 6]]

In [35]:
r = 10 # Then will take the global variable. It can be accessed anywhere in the notebook.
def test3(a,b):
    r =  a/b # First it will take local variable, it can only be accessible in the function.
    return r

test3(10,5)

print()

2.0

In [ ]:
# Docstring : It is a details about the function or any other details. When we do shift tab, we get all the details of inbuilt function. We can create Docstring for our function as well.

def test4(a,b):
    """
    a == string
    b == integer
    this is function on which I am trying to create a docstring.
    I am Rishiraj and I am in initial level of coding and will get where I want to.  
    
    """
    print("I have created a Docstring")

test4()

In [ ]:
#Print : concetanation cannot be done,no further actions can be performed. Like result + 'rishi' whereas in the of return we can do that, result + 'str'

In [36]:
# Iterator, Iterable and Generator

for i in 'rishi':
    print(i)

r
i
s
h
i

In [ ]:
# We aren't suppose to use to any loops to extract data. Below are the ways

r = 'rishiraj'
next()

In [49]:
# Iterator: It gives power to an element to remember what we have done in the last step.
# Iterable :(one by one it will go) If objects are iterable, it means that we will be able to extract the data or convert the data into iterator.
#If object is an iterable then we can convert it to iterator. String is a iterable object, means we can extract the data but we need assistance. 
#String object need to changed to iterator first and then we can use it. 
#String extraction works in for loop and not next() becuase for loop tries to change string from iterable to iterator.

# We can change iterable data to iterator using iter() function.

#  Iterable means the object which we can access using the index.
# Iterator means the object which can remember what we have done in the last step.

r = 'rishiraj'
rr = iter(r) # It changes iterable to iterator. It will be able to convert only those object to iterator which is iterable.
next(rr)
next(rr)
next(rr)
next(rr)

'h'

In [53]:
ri = 'rishiraj'
dd = iter(ri)
next(dd)
next(dd)

'i'

In [54]:
for i in "rishi":
    print(i)

# for loop is a combination of iter() and next()
# Internally for loop will implement iter() and then will do next(), next(),next() it will keep on giving the data until last value.

l = [1,2,3,4,5]
next(l)

r
i
s
h
i

TypeError: 'list' object is not an iterator

In [61]:
l = [1,2,3,4,5]
l = iter(l)
next(l)
next(l)
next(l)
next(l)
next(l)

5

In [69]:
t =(1,2,3,4,5)
t = iter(t)
next(t)

s = {1,2,3,4}
s = iter(s)
next(s)

di = {a:5,b:3}
di = iter(di)
next(di)
next(di)

'rishi'

In [98]:
##### Generator : 

# Generator does no special but remember what we have done in the last step with the help of yield keyword.
# Yield doesn't store entire data but gives when requested unlike return keyword. Return first creates data and then show the entire result, where print starts creating and giving data from the begining. 

# Normal function
def testt(n):
    l = []
    for i in range(n):
        l.append(i**3)
    return l

testt(6)

# Generator function
def test5(n):
    for i in range(n):
        yield i**3

ttt = test5(5)
print(next(ttt))
print(next(ttt))
print(next(ttt))
print(next(ttt))
print(next(ttt))

0
1
8
27
64

In [24]:
def febbonacci(limit):
    a,b = 0,1
    while a<limit:
        a,b = b,a+b
        yield a

fb = febbonacci(5)
fb

next(fb)
next(fb)
next(fb)
next(fb)
next(fb)


def feb(limit):
    a,b = 0,1
    for i in range(limit):
        if a>i:
            a,b = b,a+b
    yield i

fb = feb(5)

for i in fb:
    print(i)

5

In [48]:
# with for loop fibbonaci

def fibbo(n):
    a,b = 1,1
    output = []
    for i in range(n):
        output.append(a)        
        a,b = b,a+b
    return output

fibbo(8)

# with generator

def fibbo1(n):
    a,b = 1,1
    for i in range(n):
        yield a
        a,b = b,a+b
        

fu =fibbo1(8)
for i in fu:
    print(i)

next(fu)
next(fu)
next(fu)

2

In [66]:
def fibo(n):
    a,b = 0,1
    output =[]
    for i in range(n):
        a,b = b,a+b
        output.append(a)
    return output

f = fibo(5)

for i in f:
    print(i)

# with generators 

def genfibo(n):
    a,b = 0,1
    for i in range(n): # 0,1,2,3,4,5,6,7,8
        yield a
        a,b = b,a+b
    

gf = genfibo(5)

for i in gf:
    print(i)

1
1
2
3
5
0
1
1
2
3

In [63]:
# File 
# map, filter, reduce functions.

# my requirement is to create/delete a file

# Truncate : Whatever data is available in your data, it will truncate the data and then will start to write from the very starting.

f = open('test.txt','w')

f.write("Happy is a good boy")
f.close()


f = open('test.txt')
f.read() # This time we get the data. As the cursor wil be at the start.
f.read() # This time the cursor is at the last. Hence, we will not get any data.

f.seek(2) # To reset the cursor to the 2nd position. It goes like index, 1 character == 1.
f.read()
f.read(4) # In this we are trying to read data from the cursor point to 4th character position.
f.close()

f = open('test1.txt','wb')
, 
#f.write("Happy") # it will give issue as we mentioned write bite,wb

f.write(b"Hello, Happy singh")
f.close()

f = open('test1.txt','rb')
f.read()

f.seek(-5,2)
f.read() # read entire data
f.readline() # read one line at a time.
f.close()

r = open('happy.txt','w')
r.write('Happy is good boy\n and he is a data\n scientist and he loves\n to study python, he has been working hard to achieve his goals and for sure he will very soon, wehkwhekjhsdkfhskjdfkjsdhfkjsdhffhhhhkjhsfkjdhkjzbckjskfhasdkjfhfffffff')

r = open('happy.txt','r')
r.read()
r.seek(5)
r.read()
r.seek(0)
r.readline(2)

f = open('happy.txt','r')

for i in f:
    print(i)

r.close()

r = open('happy.txt','r')

l = list(r)
l

r.close()

r = open('test1.txt','r+')
r.write('Happy is a good boy')
r.close()

Happy is good boy

 and he is a data

 scientist and he loves

 to study python, he has been working hard to achieve his goals and for sure he will very soon, wehkwhekjhsdkfhskjdfkjsdhfkjsdhffhhhhkjhsfkjdhkjzbckjskfhasdkjfhfffffff

In [71]:
r = open('test1.txt','r+')
r.fileno()

5

In [72]:
%%writefile test3.txt # we can also create file using %%writefile method
my name is happy

Writing test3.txt

In [3]:
# Operating system command.

import os

# in which directory this jupyter notebook is


os.getcwd() # current working directory
os.listdir() # list of files available in current working directory.

os.listdir('C:\\Users\\User')

['.anaconda',
 '.conda',
 '.condarc',
 '.continuum',
 '.gitconfig',
 '.ipynb_checkpoints',
 '.ipython',
 '.jupyter',
 '.matplotlib',
 '.spyder-py3',
 '.swt',
 '.virtual_documents',
 '.vscode',
 '3D Objects',
 'anaconda3',
 'ansel',
 'AppData',
 'Application Data',
 'BullseyeCoverageError.txt',
 'Contacts',
 'Cookies',
 'Desktop',
 'Documents',
 'Downloads',
 'Dropbox',
 'Favorites',
 'Full Stack Data Science (Ineuron)',
 'IntelGraphicsProfiles',
 'Jedi',
 'Links',
 'Local Settings',
 'Music',
 'My Documents',
 'NetHood',
 'Notes.txt',
 'NTUSER.DAT',
 'ntuser.dat.LOG1',
 'ntuser.dat.LOG2',
 'NTUSER.DAT{a2332f18-cdbf-11ec-8680-002248483d79}.TM.blf',
 'NTUSER.DAT{a2332f18-cdbf-11ec-8680-002248483d79}.TMContainer00000000000000000001.regtrans-ms',
 'NTUSER.DAT{a2332f18-cdbf-11ec-8680-002248483d79}.TMContainer00000000000000000002.regtrans-ms',
 'ntuser.ini',
 'OneDrive',
 'Pictures',
 'PrintHood',
 'Recent',
 "Rishi's Workspace",
 'Saved Games',
 'Searches',
 'SendTo',
 'Start Menu',
 'Templates',
 'Videos']

In [4]:
with open ('test.txt','r+') as f:
    f.write('Happy')

In [100]:
2+2

4

In [102]:
# to get current working directory.

os.getcwd()

'C:\\Users\\USER\\Full Stack Data Science (Ineuron)'

In [6]:
# to  change working directory

os.chdir('C:\\Users\\') # To change current directory to new directory.
os.getcwd()
os.chdir('C:\\Users\\USER\\')
os.getcwd()
os.chdir('C:\\Users\\USER\\Full Stack Data Science (Ineuron)')

#os.mkdir('rishi') # make directory, we can create a new folder


# to check if the file is there in the directory or not

if 'test.txt' in os.getcwd():
    print('True')

In [8]:
os.getcwd()

if 'happy.txt' in os.listdir():    
    f = open("happy.txt","r+")
    for i in f:
        print(i)
else: 
    print('No')

Happy is good boy

 and he is a data

 scientist and he loves

 to study python, he has been working hard to achieve his goals and for sure he will very soon, wehkwhekjhsdkfhskjdfkjsdhfkjsdhffhhhhkjhsfkjdhkjzbckjskfhasdkjfhfffffff

In [1]:
with open('rishi.txt','w') as file:
    file.write('Rishi is a good boy')

In [71]:
# Whatever .txt file is available inside directory, try to read out all the file and append the data and store the data in one 

f = os.getcwd()

os.chdir(f)
os.getcwd() # To change directory to original.

dirlist = os.listdir()


for i in os.listdir():
    if i.endswith('.txt'):
       



if not os.path.isdir('happy.txt'):
    os.mkdir('happy.txt')

IndentationError: expected an indented block after 'if' statement on line 12 (2947254602.py, line 17)

In [3]:
import os

os.getcwd() # current working directory to check in which we are working in the current notebook.
os.listdir()

['.ipynb_checkpoints',
 'For Loop.ipynb',
 'happy.txt',
 'list manipulation.ipynb',
 'Python Basics.ipynb',
 'Python Function.ipynb',
 'Python Starting.ipynb',
 'rishi',
 'rishi.txt',
 'String and list manipulation.ipynb',
 'test.txt',
 'test1.txt',
 'test3.txt',
 'Tuple, Set And Dictionary.ipynb',
 'While Loop.ipynb']

In [17]:
os.getcwd()
os.listdir('C:\\Users\\USER') # to access all the data of the selected location.
os.getcwd()
os.chdir('C:\\Users\\USER\\Full Stack Data Science (Ineuron)') # put older location to get to the original directory.
os.getcwd()
os.mkdir() # to make directory

'C:\\Users\\USER\\Full Stack Data Science (Ineuron)'

In [29]:
# try to check the directory and check whether this file is available inside this directory of not. if yes then open or read the data.
os.getcwd()
os.listdir()

if 'happy.txt' in os.listdir():
    with open ('happy.txt','r') as file:
        for i in file:
            print(i)

Happy is good boy

 and he is a data

 scientist and he loves

 to study python, he has been working hard to achieve his goals and for sure he will very soon, wehkwhekjhsdkfhskjdfkjsdhfkjsdhffhhhhkjhsfkjdhkjzbckjskfhasdkjfhfffffff

In [53]:
# whatever .txt file is available inside this directory, try to read, append and store in one of the system.


for i in os.listdir():
    if i.endswith('.txt'):
        f = open(i,'r')
        for i in f:
            print(i)
            if i in f == 'happy.txt':
                o = open('happy.txt','w')
                o.write('I have successfully written a code')
                o.read()

Rishi is a good boy
Happy is a good boy
Happy is a good boy
my name is happy

In [55]:
# To check if file already exist in the directory if not then only the file will be created otherwise no action will be taken.

if 'happy.txt' not in os.listdir():
    os.mkdir('happy.txt') 
else:
    print('file already exist')

file already exist

In [ ]:
# rename file 

os.rename('test.txt','singhshekhawat.txt') # os.rename('old name','new name')

In [61]:
# remove directory

os.rmdir('rishi')

In [63]:
# move file from one directory to another.

import shutil

shutil.move('old location with file name','new location with file name')

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (3372959595.py, line 5)

In [79]:
#. 1: Create a new directory. # Done
# 2.: Create 5 txt files and write some data in all txt at a time. (All at one) in the above created directory  # Done
# 3. read all the data from this directory/file and print in console
# 4. hold all the data in a list.
# 5. write all the data in a new file from a list.
# 6. Keep only a new file in persent directory and move rest in new directory.

#os.mkdir('rishiraj') 


for i in range(11):
    filename = (f'file{i}.txt')
    filepath = os.path.join('rishiraj',filename)
    with open (filepath,'w') as file:
        file.write('sample file')

In [113]:
# os.mkdir('singh')

for i in range(11):
    filename = (f'file{i}.txt')
    filepath = os.path.join('singh',filename)
    with open (filepath,'w') as file:
        file.write('happy singh shekhawat')

In [122]:
# 3. read all the data from this directory/file and print in console

os.getcwd()

for i in os.listdir():
    if i == 'singh':
        print(i)

singh

In [ ]:
#. 1: Create a new directory. # Done
# 2.: Create 10 txt files and write some data in all txt at a time. (All at one) in the above created directory  # Done
# 3. read all the data from this directory/file and print in console
# 4. hold all the data in a list.
# 5. write all the data in a new file from a list.
# 6. Keep only a new file in persent directory and move rest in new directory.

In [2]:
import os
os.mkdir('Afyon')

In [11]:
for i in range(11):
    filename = (f'file{i}.txt')
    filepath = os.path.join('Afyon',filename)
    with open(filepath,'w') as file:
        file.write('I have created all thest .txt files')



"""for i in os.listdir('Afyon'):
    if i.endswith('.txt'):
        print(i)"""

file0.txt
file1.txt
file10.txt
file2.txt
file3.txt
file4.txt
file5.txt
file6.txt
file7.txt
file8.txt
file9.txt

In [29]:
datalist = []

for filename in os.listdir('Afyon'):
    if filename.endswith('.txt'):
        with open(filepath,'r') as file:
            data = file.read()
            print(filename)
            print(data)
            print()
            datalist.append(data)

file0.txt
I have created all thest .txt files

file1.txt
I have created all thest .txt files

file10.txt
I have created all thest .txt files

file2.txt
I have created all thest .txt files

file3.txt
I have created all thest .txt files

file4.txt
I have created all thest .txt files

file5.txt
I have created all thest .txt files

file6.txt
I have created all thest .txt files

file7.txt
I have created all thest .txt files

file8.txt
I have created all thest .txt files

file9.txt
I have created all thest .txt files

In [31]:
datalist

['I have created all thest .txt files',
 'I have created all thest .txt files',
 'I have created all thest .txt files',
 'I have created all thest .txt files',
 'I have created all thest .txt files',
 'I have created all thest .txt files',
 'I have created all thest .txt files',
 'I have created all thest .txt files',
 'I have created all thest .txt files',
 'I have created all thest .txt files',
 'I have created all thest .txt files']

In [44]:
# 5. write all the data in a new file from a list.

with open ('happysinghraja','w') as file:
    for i in datalist:
        file.write(i +'\n')

In [ ]:
# 6. Keep only a new file in persent directory and move rest in new directory.