In [1]:
name = "rishiraj"
name

'rishiraj'

In [8]:
a = 'this is my string class for the data science, that"s why I have joined this class'

a

'this is my string class for the data science, that"s why I have joined this class'

In [27]:
t = 'rishiraj'

len(t)
t[0:5]
t[::-1]

for i in range(len(t)):
    print(t[i]) # t of 0, t of 1, t of 2

t[0] = 'R' # String is immutable, data once entered cannot be changed.
t

r
i
s
h
i
r
a
j

'rishiraj'

In [28]:
l = ['happy',5454,212.0545,True]
l[0] = 'rishi'
l

['rishi', 5454, 212.0545, True]

In [35]:
# concatenation operation

"rishi" + "singh"

'rishi'+ str (22) #type casting

list('happy') + ['kumar',254]

['h', 'a', 'p', 'p', 'y', 'kumar', 254]

In [37]:
'rishi '*6

'rishi rishi rishi rishi rishi rishi '

In [50]:
s = 'my name is rishiraj'
s.find('r') #. + tab to get the suggestions.
s.replace('m','M',1)

3

In [71]:
s = 'my name is rishiraj'
b = s.find('name') # = 3rd index

for i in range(len('name')): # len =4 
    i +=b # 0+3,1+3....
    print(i)

3
4
5
6

In [ ]:
s.count('m') # number of occurences of given data.
s.split(sep='r') # sep = separater criteria
s.upper()
s.lower()
s.capitalize()
s.swapcase() # capital to lowercase and lowercase to capital.
" ".join(s) # it will join using the creteria given under ""
print(list(reversed(s)))

for i in reversed(s):
    print(i)

s.strip() # to remove spaces
s.lstrip() # left side space removal
s.rstrip()

In [102]:
n = 'rishi'

n.center(10,'b')

'bbrishibbb'

In [104]:
n = 'my\tname\tis\trishi\traj' #put \t and the belwo formula

n.expandtabs()

'my      name    is      rishi   raj'

In [111]:
a ="we all are a part of full stack"
a.lower()
a.count('a')
a.replace('a','iNeuron')
list(a)

3

In [141]:
# Question: Find all the location/index of 'a' in a string.

a ="we all are a part of full stack"

for i in range(len(a)):
    if(a[i] == 'a'):
        print(i)

3
7
11
14
28

In [149]:
# Checking method
a = ' rishiraj   '
a.isnumeric() # Will return boolean value.
a.isalpha()
a.isspace()

True

In [12]:
s  = "this is a full stack batch"
count = 0

for i in s:
    count = count +1
print(count)

26

In [21]:
# Iterate a string using it's index not directly.
s  = "this is a full stack batch"
for i in range(len(s)):
    print(s[-i])

t
h
c
t
a
b

k
c
a
t
s

l
l
u
f

a

s
i

s
i
h

In [4]:
n = 'rishi'
ch = len(n) - 1
ch # = 4

while ch>=0:
    print(n[ch]) # first it will print 4
    ch -=1 # 4-1,3-1,2-1,1-1

i
h
s
i
r

In [14]:
#reversing using all the methods.
r = 'raj'
r[::-1]

for i in r[::-1]:
    print(i)

ch = len(r)-1

while ch>=0:
    print(r[ch])
    ch-=1

j
a
r
j
a
r

In [31]:
name = 'rishiraj'
vowels = 'AaEeIiOoUu'

for i in name:
    if i in vowels:
        print(f"this is a vowwel {i}")
    else:
        print(f'this is not a vowel{i}')

this is not a vowelr
this is a vowwel i
this is not a vowels
this is not a vowelh
this is a vowwel i
this is not a vowelr
this is a vowwel a
this is not a vowelj

In [33]:
'{} name is rishiraj'.format('my')
'{} is good boy {} he is a champion'.format('rishi','and')

'rishi is good boy and he is a champion'

In [37]:
# Pelindrom is which is same in forward or backward direction.
# Example: 'nitin','eye',2002

s= input('enter name')
s1 = s[::-1]
if s == s1:
    print("it's a pelindrom data")
else:
    print("it's not a pelindrom data")

enter name happy

it's not a pelindrom data

In [44]:
l = ['rishi',34,34,52,[12,58]]
l[5:0:-1]

[[12, 58], 52, 34, 34]

In [45]:
l

['rishi', 34, 34, 52, [12, 58]]

In [46]:
s ='rishi'

l+list(s)

['rishi', 34, 34, 52, [12, 58], 'r', 'i', 's', 'h', 'i']

In [47]:
len(l) # to check lenght, len() will work with string and list.

5

In [48]:
'rishi' in l

True