In [55]:
# Tuples, Set and Dictionary

# To find index all elements.

l = ('happy', 25,25,25,'ff',25)
l.index(25)

r = []

for i in range(len(l)):
    if l[i] == 25:
        print(i)

1
2
3
5

In [71]:
l = [1,2,3,4,5,'rishi',25.25,True]
t = tuple(l)
t[1] # to extract data

t[::-1] # slicing

for i in l[::-1]:
    print(i)

True
25.25
rishi
5
4
3
2
1

In [67]:
t2 = (4,5,6)
t+t2

(1, 2, 3, 4, 5, 6)

In [72]:
t

(1, 2, 3, 4, 5, 'rishi', 25.25, True)

In [73]:
1 in t

True

In [84]:
t3 = (1,2,3,4,5,6,7,2)
min(t3)
max(t3)
sum(t3)

t4 = ('rishi','a')
max(t4)
min(t4)

'a'

In [86]:
t3
for i in range(len(t3)):
    if t3[i] == 2:
        print(i)

1
7

In [101]:
l3 = list(t3)
l3.append(25)

l3.insert(3,'rishi')
l3

tuple(l3)

(1, 2, 3, 'rishi', 4, 5, 6, 7, 2, 25)

In [103]:
tt = ((1,2,3),(4,5,6),('r','i',1,2),[1,2,3])
tt

((1, 2, 3), (4, 5, 6), ('r', 'i', 1, 2), [1, 2, 3])

In [115]:
# ways to append data in tuple:
#.1 by adding another tuple, by putting list in tuple and modify, by converting tuple to list(in all these cases immutability of tuple will not be disturbed).




tt[3][0] = 5 # list in tuple can be modified.

tt

((1, 2, 3), (4, 5, 6), ('r', 'i', 1, 2), [5, 2, 3])

In [118]:
tt

((1, 2, 3), (4, 5, 6), ('r', 'i', 1, 2), [5, 2, 3])

In [126]:
nt = ((1,2),(3,4),(5,6),(7,8),[9,10])
nt

for i in nt:
    if type(i) == tuple:
        print(i[0])

1
3
5
7

In [127]:
t = (1,2,3,4,5,6)
t2 = (1,2,3,4)

if len(t) == len(t2):
    print('yes')
else:
    print('no')

no

In [148]:
t11 = (1,2,3,4,5,6,'rishi','happy')

i = input('please put your input')

if i in t11:
    print('Yes')
else:
    print('no')

please put your input 3

no

In [144]:
to = (1,2,3,4,5)
i = int(input())

if i in to:
    print('yes')
else:
    print('no')

 2

yes

In [2]:
to = (1,2,3,4,5,'rishi')

i = input('enter name')

if i in to:
    print('Yes')
else:
    print('No')

enter name 1

Yes

In [5]:
# Set

s = {1,1,2,3,4,5,6}
s1 = {1,2,3,8,9}
s.difference(s1)

{4, 5, 6}

In [23]:
s = [1,1,2,3,4,5,6]
f = []

for i in s:
    if i not in f:
        f.append(i)

f

[1, 2, 3, 4, 5, 6]

In [40]:
d = [1,1,2,3,4]

# remove duplicate elements

for i in d:
    if d.count(i)>1:
        d.remove(i)

In [50]:
d = {1,1,2,3,4}

d.add(5)
d.add(6)
d.add('rishi')
ss= d.copy()

ss

{1, 2, 3, 4, 5, 6, 'rishi'}

In [11]:
# Dictionary

h = {'Name':'Happy', 'Age':26, 'name':'Happy'}
h

{'Name': 'Happy', 'Age': 26, 'name': 'Happy'}

In [31]:
h1 = {'Name':{1:'rishi',2:'happy','nana':['h','a','p','p','y']}, 'Age':26, 'name':'Happy', True:25,'key':False,25:65,'list1':[1,2,3,4,5]}
h1['Name'] ['nana'] [0]

'h'

In [32]:
x3 = {'k3':'rishi'}
x4 = {'k4':'happy'}

x4['k4'] = 'roy'

x4

{'k4': 'roy'}

In [55]:
h1 = {'Name':'happy','Age':26, 'name':'Happy'}


for i,v in h1.items():
    print(type(i),type(v))

<class 'str'> <class 'str'>
<class 'str'> <class 'int'>
<class 'str'> <class 'str'>

In [58]:
x5x = {(1,2,3):'rishiraj'}
x5x[(1,2,3)]
len(x5x)

1

In [68]:
# Practise Questions:

# Question 1 = take an input as a paragraph using input function. # Done
# Question 2 = convert all of this input into a list of words. # Done
# Question 3 = remove all the duplicate elements from your list
# Question 4 = use above distint elements as a key for dictionary and assign your name as a value for all the key for dictionary.
# Question 5 = Try to print tuple of all the values.
# Question 6 Try to print list of all the keys.

i = input('please enter paragraph')

please enter paragraph happy is a good boy

In [81]:
l = list(i)

In [ ]:
s = []

for i in l:

In [91]:
i = input()

 Happy is a good boy

In [92]:
l = list(i)
l

['H',
 'a',
 'p',
 'p',
 'y',
 ' ',
 'i',
 's',
 ' ',
 'a',
 ' ',
 'g',
 'o',
 'o',
 'd',
 ' ',
 'b',
 'o',
 'y']

In [100]:
no_duplicates = []

for i in l:
    if i not in no_duplicates:
        no_duplicates.append(i)

no_duplicates

['H', 'a', 'p', 'y', ' ', 'i', 's', 'g', 'o', 'd', 'b']

In [103]:

dict ={}

for i in no_duplicates:
    dict[i] = 'happy'

dict

{'H': 'happy',
 'a': 'happy',
 'p': 'happy',
 'y': 'happy',
 ' ': 'happy',
 'i': 'happy',
 's': 'happy',
 'g': 'happy',
 'o': 'happy',
 'd': 'happy',
 'b': 'happy'}

In [109]:
for i in dict.keys():
    print(i)

H
a
p
y

i
s
g
o
d
b

In [1]:
# Question 1 = take an input as a paragraph using input function. # Done
# Question 2 = convert all of this input into a list of words. # Done
# Question 3 = remove all the duplicate elements from your list # Done
# Question 4 = use above distint elements as a key for dictionary and assign your name as a value for all the key for dictionary.
# Question 5 = Try to print tuple of all the values.
# Question 6 Try to print list of all the keys.

i = input('Enter a paragraph')

Enter a paragraph Happy is a good boy

In [4]:
l = list(i)

noduplicates = []

for i in l:
    if i not in noduplicates:
        noduplicates.append(i)

noduplicates

['H', 'a', 'p', 'y', ' ', 'i', 's', 'g', 'o', 'd', 'b']

In [15]:
mydict = {}

for i in noduplicates:
    mydict[i] = 'Happy'



for i in mydict.values():
    print(tuple(i))

for i in mydict.keys():
    print(list(i))

('H', 'a', 'p', 'p', 'y')
('H', 'a', 'p', 'p', 'y')
('H', 'a', 'p', 'p', 'y')
('H', 'a', 'p', 'p', 'y')
('H', 'a', 'p', 'p', 'y')
('H', 'a', 'p', 'p', 'y')
('H', 'a', 'p', 'p', 'y')
('H', 'a', 'p', 'p', 'y')
('H', 'a', 'p', 'p', 'y')
('H', 'a', 'p', 'p', 'y')
('H', 'a', 'p', 'p', 'y')

In [21]:
d = {'company':'Happy','course':'full stack data science','Year':2024}

for i in d:
    print('this is a key',i,'this is a value',d[i])

this is a key company this is a value Happy
this is a key course this is a value full stack data science
this is a key Year this is a value 2024

In [35]:
d = {'company':'Happy','course':'full stack data science','Year':2023}


for i in d:
    if i == 'Year':
        if d[i] == 2024:
            print('Yes')
        else:
            d[i] = 2024
    
        
d

{'company': 'Happy', 'course': 'full stack data science', 'Year': 2024}

In [39]:
# 2

for i in d:
    if i == 'course':
        if len(d[i]) > 10:
            print('yes')
        else:
            print(list(d[i]))

yes

In [48]:
# Dictionary Comprehension
# Key will be number and value will be square of that.

dict ={}

for i in range(10):    
    dict[i] = i*i


{i:i*i for i in range(10)if i%2 ==0 } # using comprehension

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}