In [2]:
import mysql.connector as connection

#Creating a database

mydatabase = connection.connect(host = 'localhost',user = 'root',passwd = 'mysql',use_pure = True)

query = "Create Database rishi"
cursor = mydatabase.cursor()
cursor.execute(query)
mydatabase.close()

In [9]:
try:
    mydatabase = connection.connect(host = 'localhost',user = 'root',database = 'happy', passwd = 'mysql',use_pure = True)
    mydatabase.is_connected()
    
    query = 'Create table happydetails(name Varchar(10),class Varchar(5),Rollnumber INT(10))'
    cursor = mydatabase.cursor()
    cursor.execute(query)
    print('Table Created')
except Exception as e:
    print(e)

1050 (42S01): Table 'happydetails' already exists

In [8]:
try:
    mydatabase = connection.connect(host = 'localhost',user = 'root',database = 'happy', passwd = 'mysql',use_pure = True)
    mydatabase.is_connected()
    
    query = "INSERT INTO happydetails VALUES('rishiraj','10B',5658)"
    cursor = mydatabase.cursor()
    cursor.execute(query)
    print('Values inserted into the tables')
    mydatabase.commit() # It means when we would really like to input the data. without commit the data won't be inserted
except Exception as e:
    print(e)

Values inserted into the tables

In [ ]:
try: 
    mydata = connection.connect(host = 'localhost',user = 'root',database = 'rishi',passwd = 'mysql',use_pure = True)
    mydata.is_connected()

    query = 'select * from rishidetails'
    
    cursor = mydata.cursor()
    cursor.execute(query)
    for result in cursor.fetchall():
        print(result)
    mydata.close()
except Exception as e:
    print(e)